
.k{ 
border: solid 5px blueviolet;
border-radius: 50px;
margin: 2%;
text-align: center;
width:40% ;
display: inline-block;
background-color: antiquewhite;
margin-left: 70px;
padding: 10px;
margin-top: 0%;
}
.l{
color: rgb(4, 112, 112);

}
h1{
    text-align: center;
    color: rgb(4, 112, 112);
    border-radius: 10px;
    border: solid 2px rgb(4, 112, 112);
}